.container
  .panel.panel-primary
    .panel-heading
      %h1
        = current_member.name + "'s Notifications"
    .panel-body
      - if @notifications.empty?
        %h3
          Wow! You have seen all notifications
      - else
        .table-responsive
        %table.table.table-striped.table-hover
          %tbody
            - @notifications.each do |notification|
              %tr
                - commentator = Member.find_by(id: notification.commentator_id)
                %td{ width: "100px" }
                  - if commentator.avatar.url == "/images/original/missing.png"
                    %img{ src: asset_path("default_user.png"), width: "100px", height: "100px" }
                  - else
                    = image_tag commentator.avatar.url(:thumb) 
                %td
                  = link_to commentator.name, commentator
                  = notification.content
                  %br
                  = link_to notification.post.title, notification.post 
                  %br
                  at
                  = notification.created_at