%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    .nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Home", root_path
        - if logged_in?
          - if current_member.role == "admin"
            %li= link_to "Members", members_path
            %li= link_to "Statistics", statistics_path
          %li= link_to "My posts", member_posts_path(current_member.id)
          - @notifications = member_notification
          - unless @notifications.empty?
            %li
              %a{ href: notifications_path }
                %img{ src: asset_path("notification.png"), alt: "You have some notifications", width: "20px", height: "20px" }
          %li.dropdown.presentation
            %a#statistics.dropdown-toggle{ "aria-expanded": "false",
              "aria-haspopup": "true", "data-toggle": "dropdown",
              "data-target": "#", role: "button" }
              Account
              %span.caret
            %ul.dropdown-menu{ "aria-labelledby": "accounts" }
              %li
                %a{ href: member_path(current_member.id) } Profile
              %li
                %a{ href: edit_member_path(current_member.id) } Settings
              %li.divider
              %li
                = link_to "Log out", logout_path, method: "delete"
        - else
          %li= link_to "Log in", login_path
          %li= link_to "Sign up", new_member_path
