.container
  .panel.panel-primary
    .panel-heading
      -if @member.present?
        %h1
          = @member.name + "'s Posts"
    = will_paginate @posts
    .panel-body
      .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %th Title
        %tbody
          - @posts.each do |post|
            %tr
              %td
                = link_to post.title, post_path(post.id)
              %td{ width: 120 }
                = link_to "Edit", edit_post_path(post.id), method: :get, class: "btn btn-success"
    = will_paginate @posts
