.container
  %p.alignRight
    - if current_member.present? 
      - if current_member == @post.member && @post.status == "open"
        = link_to "Edit", edit_post_path(@post.id), method: :get, class: "btn btn-success"
      - if current_member.role == "admin" && @post.status == "open"
        = link_to "Close", @post, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger"
  .panel.panel-primary
    .panel-heading
      .row
        .col-xs-12.col-md-8
          %img{ src: asset_path("home.png"), width: "20px", height: "20px" }
          = link_to "Home", root_path, { style: "color:#FFFFFF" }
          = " > "
          = link_to @post.topic.name, topic_path(@post.topic.id), { style: "color:#FFFFFF" }
          = " > "
          = link_to @post.title, post_path(@post.id), { style: "color:#FFFFFF" }
        .col-xs-6.col-md-4
          %p.alignRight
            = @post.created_at
    .panel-body
      .table-responsive
      %table.table.table-striped.table-hover
        %td{ width: "100px" }
          %center
            - if @post.member.avatar.url == "/images/original/missing.png"
              %img{ src: asset_path("default_user.png"), width: "100px", height: "100px" }
            - else
              = image_tag @post.member.avatar.url(:thumb)
            %br
            = link_to @post.member.name, @post.member
            - if @post.member.role == "admin"
              %span{ style: "color: red" }
                Admin
        %td
          %h2
            = @post.title
          %br
          = @post.content.html_safe
  - if @comments.present?
    - @comments.each do |comment|
      .panel.panel-primary
        .panel-heading
          = comment.created_at
        .panel-body
          .table-responsive
            %table.table.table-striped.table-hover
              %td{ width: "100px" }
                %center
                  - if comment.member.avatar.url == "/images/original/missing.png"
                    %img{ src: asset_path("default_user.png"), width: "100px", height: "100px" }
                  - else
                    = image_tag comment.member.avatar.url(:thumb)
                  %br
                  = link_to comment.member.name, comment.member
                  - if comment.member.role == "admin"
                    %br
                    %span{ style: "color: red" }
                      = "Admin"
              %td
                = comment.content.html_safe
    %center
      = will_paginate @comments
  - if @post.status == "open" && current_member.present?
    = form_tag({ controller: "comments", action: "create" }, method: "post") do
      = hidden_field_tag(:post_id, @post.id)
      .form-group
        = text_area_tag :content, "", placeholder: "Leave Your Comment", class: "tinymce"
        = tinymce
      .button
        = submit_tag "Comment", class: "btn btn-primary"

