.container
  %p.alignRight
    - if current_member == @post.member && @post.status == "open"
      = link_to "Edit", edit_post_path(@post.id), method: :get, class: "btn btn-success"
    - if current_member.role == "admin" && @post.status == "open"
      = link_to "Close", @post, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger"
  .panel.panel-primary
    .panel-heading
      = @post.created_at
    .panel-body
      .table-responsive
      %table.table.table-striped.table-hover
        %td{ width: 80 }
          %center
            = gravatar_for @post.member
            %br
            = @post.member.name
        %td
          %h2
            = @post.title
          %br
          = @post.content.html_safe
  - if @comments.present?
    - @comments.each do |comment|
      .panel.panel-primary
        .panel-heading
          = @post.created_at
        .panel-body
          .table-responsive
            %table.table.table-striped.table-hover
              %td{ width: 80 }
                %center
                  = gravatar_for comment.member
                  %br
                  = comment.member.name
              %td
                = comment.content.html_safe
    = will_paginate @comments
  - if @post.status == "open"
    = form_tag({ controller: "comments", action: "create" }, method: "post") do
      = hidden_field_tag(:post_id, @post.id)
      .form-group
        = text_area_tag :content, "Leave Your Comment", class: "tinymce"
        = tinymce
      .button
        = submit_tag "Comment", class: "btn btn-primary"

