!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Project2
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'shared/header'
    %div.container
      - flash.each do |name,msg|
        = content_tag(:div, msg, class:"alert alert-info")
      = yield
      = render "shared/footer"

