.container
  .panel.panel-primary
    .panel-heading
      %h1
        All members
    = will_paginate
    .panel-body
      .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %th ID
          %th Name
          %th Status
          %th Action
        %tbody
          - @members.each do |member|
            %tr
              %td
                = member.id
              %td
                = link_to member.name, member_path(member.id)
              %td
                - if member.is_active?
                  %span{ style: "color: green" }
                    = member.status
                - else
                  %span{ style: "color: red" }
                    = member.status
              %td{ width: 250 }
                = link_to "Be admin", member_path(member.id), method: :put, data: { confirm: "You sure?" } ,class: "btn btn-warning"
                - if member.is_active?
                  = link_to "Delete", member, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger"
                - else
                  = link_to "Active", member, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-success"
    = will_paginate
